.table-weblab-2 {border-collapse:collapse;}
.table-weblab-2 td, th {border:1px solid #ccc !important;padding:0.5ex 0.5em !important;}
.table-weblab-2 th {background-color:#e3e3e3;}

.table-weblab-3 {border-collapse:collapse;}
.table-weblab-3 td, th {border:1px solid #ccc !important;padding:1ex 1em !important;}
.table-weblab-3 th {background-color:#e3e3e3;}